<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cupiditate sunt consequatur fugiat! Ratione quidem veniam placeat provident reprehenderit quam possimus sint iste corrupti vel! Id, eveniet asperiores. Quia, delectus.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>